/node_modules

# Ignorar a pasta dist/ (arquivos de build/compilação)
/dist

# debug logs
*.log
npm-debug.log*
yarn-debug.log*

# vercel e outros arquivos de implantação
.vercel/   

node-fs-extra-debug.log*

*.md
vercel.json